{% extends 'events/base.html' %}

{% block content %} 
    <center>
{% if user.is_authenticated %}
    <h1>Add Venue to Database</h1>
    <br/><br/>
    {% if submitted %}
        Your Venue was submitted successfully !

    {% else %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>
    {% endif %}
{% else %}
    <h1>Sorry , you must be logged in order to add a Venue</h1>
    <a href="{% url 'login' %}">Login Here</a>

{% endif %}
    </center>
{% endblock %}