{% extends 'events/base.html' %}

{% block content %} 
    <center>

{% if user.is_authenticated %}
    <h1>Add Event to Database</h1>
    <br/>
    {% if submitted %}
    Your Event was submitted successfully !

    {% else %}
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
    {% endif %}

{% else %}
    <h1>Sorry , you must be logged in order to organise an Event </h1>
    <a href="{% url 'login' %}">Login Here</a>
{% endif %}
    </center>
{% endblock %}